body {
    color: #777777;
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    background-color: #ecf8db;
}

#face-shot{
    width:230px;
    height:200px;
    border: 5px solid whitesmoke;
}

header {
    background-color: #7f847c;
    color: #fff;
    padding: 1rem;
}

.main-text {
    font-weight: bold;
}

.sub-text {
    font-weight: normal;
    flex-grow: 1;
    color: #dadada;
}


main {

}

.certification {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.certification img {
    float: left;
    margin-right: 2rem;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem; /* Add spacing between navigation items */
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 0; /* Reduce the gap to 5px */
    align-content: center;
}
.skills {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.skill {
    padding: 10px;
    max-width: 250px; /* Set the minimum height of each box */
}

.socials{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.socials img {
    float: left;
    margin-right: 2rem;
}
.skills div p{
    color: cadetblue;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.image {
    margin-right: 10px;
    width:450px;
    height:300px;
}

.paragraphs {
    display: flex;
    flex-direction: column;
}

.paragraphs p {
    margin: 0;
}

.certification ul li{
    color: black;
    white-space: nowrap;
}

.cert-title{
    text-decoration: underline;
    list-style-type: none;
    font-size: 20px;
}

.tab-txt{
    width: 225px;  /* Adjust this value as needed */
    vertical-align: text-top;
    color: black;
}

.tab-col{
    vertical-align: top;
    padding: 0 10px;
}

table{
    margin: 0 auto;
}

.wrapper div p{
    width: 650px;
}

.wrapper img{
    border: 5px solid black;
}
